@font-face {
  font-family: "icons";
  src: url("/fonts/icons.ttf?x7xgrd") format("truetype"),
    url("/fonts/icons.woff?x7xgrd") format("woff"),
    url("/fonts/icons.svg?x7xgrd#icons") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
}
/* 
h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
h5:last-child,
h6:last-child,
p:last-child,
ul:last-child,
li:last-child {
  margin-bottom: 0;
} */

h1 {
  line-height: 1.15;
  font-size: clamp(1.5rem, 2vw + 1rem, 2.5rem);
}

/* p,
ul,
li {
  margin-bottom: 1em;
} */

/* li > ul {
  margin-top: 1em;
} */

code {
  background: var(--darkGray);
  border-radius: calc(var(--spacing) * 0.5);
  padding: calc(var(--spacing) * 0.5) var(--spacing);
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: "icons" !important;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-video-camera:before {
  content: "\e914";
}
.icon-dice:before {
  content: "\e915";
}
.icon-clock:before {
  content: "\e94e";
}
.icon-calendar:before {
  content: "\e953";
}
.icon-tv:before {
  content: "\e95b";
}
.icon-search:before {
  content: "\e986";
}
.icon-equalizer:before {
  content: "\e992";
}
.icon-trophy:before {
  content: "\e99e";
}
.icon-link:before {
  content: "\e9cb";
}
.icon-cross:before {
  content: "\ea0f";
}
