.fallbackPlainText {
  display: flex;
  width: min-content;
  align-items: center;
  justify-content: center;
  border: solid 1px;
  padding: var(--spacing);
  border-radius: var(--borderRadius);
  white-space: nowrap;
}
