.root {
  position: sticky;
  top: 0;
  padding-block: 1rem;
  background: rgba(var(--darkGray-rgb), 0.8);
  border-bottom: solid 1px var(--darkGray);
  box-shadow: 0 0 10px rgba(var(--black-rgb), 0.3),
    inset 0 -5px 15px -10px rgba(var(--darkGray-rgb), 0.3);
  backdrop-filter: blur(10px);
  z-index: 2;
}

.container {
  display: flex;
  justify-content: space-between;
}

.title {
  font-size: 1.4rem;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--white);
  margin: calc(var(--spacing) * -2);
  padding: calc(var(--spacing) * 2);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
}

.title:hover,
.title:focus {
  text-decoration: none;
  background: rgba(var(--white-rgb), 0.05);
}

.search {
  display: block;
  width: 43px;
  transition: all 0.3s ease;
  max-width: 250px;
  display: flex;
}

.search::before {
  content: "\e986";
  position: absolute;
  pointer-events: none;
  padding: calc(var(--spacing) * 1.5);
  font-size: 16px;

  font-family: "icons" !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.search:focus-within {
  flex-grow: 1;
}

.input {
  width: 100%;
  padding: var(--spacing);
  border-radius: 40px;
  border: solid 1px var(--darkGray);
  padding: 10px 10px 10px 35px;
  font-size: inherit;
  background: rgba(var(--white-rgb), 0.1);
}

@media (min-width: 600px) {
  .title {
    margin-inline: calc(var(--spacing) * -4);
    padding-inline: calc(var(--spacing) * 4);
  }
}
