.root {
  display: flex;
  padding: calc(var(--spacing) * 4);
  flex-direction: column;
  gap: calc(var(--spacing) * 2);
  background: var(--black);
}

.list {
  display: flex;
  gap: var(--spacing);
}
