.root {
  --gutter: calc(var(--spacing) * 2);
  margin-block: calc(var(--spacing) * -2);
}

.slides {
  --scrollbarMargin: 15vw;
  display: flex;
  gap: var(--spacing);
  padding: calc(var(--spacing) * 2) var(--gutter);
  overflow-x: auto;
  user-select: none;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
  scroll-padding: var(--gutter);
  -webkit-overflow-scrolling: touch;
}

.slides::-webkit-scrollbar {
  display: block;
  /* width: 40px; */
  /* height: var(--scrollbarMargin), calc(var(--spacing) * 10); */
  overflow: auto;
  cursor: grab;
}

.slides::-webkit-scrollbar-thumb {
  --scrollbar-mask: 2px solid transparent;
  --scrollbar-thickness: 4px;
  background-color: var(--gray);
  background-clip: content-box;
  border-bottom: var(--scrollbar-mask);
  border-top: var(--scrollbar-mask);
  border-radius: 99px;
}

.slides::-webkit-scrollbar-track {
  --scrollbar-mask: 4px solid transparent;
  --scrollbar-thickness: 4px;
  margin: var(--scrollbarMargin);
  background-clip: content-box;
  background-color: rgba(var(--gray-rgb), 0.3);
  border: var(--scrollbar-mask);
  border-radius: 99px;
}

.slides > * {
  scroll-snap-align: start;
}

.counteractGutter {
  width: calc(100% + var(--gutter) * 2);
  margin-inline: calc(var(--gutter) * -1);
}

.counteractGutter .slides {
  padding-inline: var(--gutter);
}

@media (min-width: 600px) {
  .root {
    --gutter: calc(var(--spacing) * 4);
  }
}

@media (min-width: 1000px) {
  .slides {
    --scrollbarMargin: 25vw;
  }
}

@supports (not (selector(::-webkit-scrollbar))) {
  .slides {
    scrollbar-color: var(--grey) var(--darkGray);
    scrollbar-width: thin;
  }
}
