.searchHolder {
  display: flex;
  position: sticky;
  top: 73px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
  padding: 20px;
  min-height: 300px;
  transition: min-height 0.6s cubic-bezier(0.5, 0, 0.2, 1);
  background: url("https://c.pxhere.com/photos/07/1a/bokeh_effect_green_texture_round_light_dark_background-1223685.jpg!d")
    no-repeat center center;
  background-size: cover;
  z-index: 1;
}

.searchHolder.active {
  min-height: 0;
}

.inputStage {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: var(--spacing);
}

.filterToggle {
  position: relative;
}

.filterButton {
  height: 40px;
  width: 40px;
  border: 0;
  border-radius: 99px;
  cursor: pointer;
  background: rgba(var(--darkGray-rgb), 0.2);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filterButton.active {
  background: rgba(var(--darkGray-rgb), 0.6);
}

.filterButton:hover {
  background: rgba(var(--darkGray-rgb), 0.4);
}

.activeFilterCount {
  position: absolute;
  top: calc(var(--spacing) * -1);
  right: calc(var(--spacing) * -1);
  width: 24px;
  height: 24px;
  border-radius: 99px;
  background: var(--primary);
  color: var(--white);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.8em;
  pointer-events: none;
}

.totalResults {
  position: absolute;
  left: 100%;
  margin-left: var(--spacing);
  overflow: visible;
  white-space: nowrap;
}

.footer {
  position: sticky;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 0;
  z-index: 1;
  background: linear-gradient(
    to top,
    rgba(var(--black-rgb), 1),
    rgba(var(--black-rgb), 0)
  );
}

.pagination {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  border-radius: var(--borderRadius) var(--borderRadius) 0 0;
  background: var(--black);
  box-shadow: 0 0 10px rgba(var(--black-rgb), 0.5);
}

.paginationButton {
  height: 46px;
  width: 46px;
  border: 0;
  border-radius: var(--borderRadius);
  cursor: pointer;
  background: none;
}

.prev::after,
.next::after {
  content: "";
  display: block;
  width: var(--spacing);
  height: var(--spacing);
  border: solid var(--white);
  transform: rotate(45deg);
}

.prev::after {
  border-width: 0 0 2px 2px;
  margin-left: calc(var(--spacing) * 2);
}

.next::after {
  border-width: 2px 2px 0 0;
  margin-left: calc(var(--spacing) * 1);
}
