.root {
  max-height: 0;
  transition: max-height 0.3s ease-in-out;
  overflow: hidden;
  display: flex;
  gap: calc(var(--spacing) * 2);
  flex-wrap: wrap;
  justify-content: center;
}

.active {
  max-height: 150px;
}

.label {
  display: flex;
  gap: var(--spacing);
  align-items: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
  font-size: 0.8em;
  background: rgba(var(--darkGray-rgb), 0.4);
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 2);
  border-radius: 99px;
}

@media (min-width: 225px) {
  .label {
    flex-direction: row;
  }
}

.select {
  margin: calc(var(--spacing) * -1) calc(var(--spacing) * -2)
    calc(var(--spacing) * -1) 0;
  padding: calc(var(--spacing) * 1) calc(var(--spacing) * 1);
  background: rgba(var(--darkGray-rgb), 0.4);
  border: 0;
  border-radius: 0 99px 99px 0;
}
